:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFF7D4;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: #1A5D1A !important;
  background-image: url('/src/assets/images/backgroundimage.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  padding-top: 20px;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar .btn {
  background-color: #FBD85D;
  border-color: #1A5D1A;
  color: #1A5D1A;
  margin-right: 0.2rem !important;
}

.menu button {
  border: 1px solid #1A5D1A;
  color: #1A5D1A;
  cursor: pointer;
}

#nume_categorii {
  border-radius: 5px;
  border: 1px solid #1A5D1A !important;
  color: #1A5D1A !important;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px; /* Adjust the width as needed */
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: #F1C93B !important;
  color: #1A5D1A !important;
  border: 1px solid #1A5D1A !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card h3 {
  margin-top: 10px; /* Adjust the spacing between the title and other elements */
}

.card p {
  margin-bottom: 10px; /* Adjust the spacing between the paragraphs */
}

.card img {
  max-width: 90%;
  height: 40%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 5px !important;
}

.card button {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 40px);
}

.card button,
.confirm button {
  margin: 10px;
  background-color: #1A5D1A;
  color: #F1C93B;
  font-weight: bold;
  
}

.btn img {
  width: 25px;
  height: 40px;
  padding-bottom: 15px;
}

.product-box {
  border: 1px solid #1A5D1A;
  border-radius: 5px;
  background-color: #F1C93B;
  padding: 10px;
  margin-bottom: 10px;
}

.form-card {
  padding: 20px;
  border: 1px solid #1A5D1A;
  border-radius: 5px;
  background-color: #F1C93B;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.form-card button{
  background-color: #1A5D1A;
  font-weight: bold;
  color: #F1C93B;
}

@media (min-width: 480px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    width: calc(80% - 20px);
    /* Adjust the width based on your desired spacing */
  }
}

@media (min-width: 700px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(50% - 20px);
    /* Adjust the width based on your desired spacing */
  }
}

@media (min-width: 992px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: calc(33.33% - 20px);
    /* Adjust the width based on your desired spacing */
  }
}

#app {
  max-width: 1280px;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}